<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>323358692404-jangk87r75mabi5pto3bh2mckg6ul8if.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.323358692404-jangk87r75mabi5pto3bh2mckg6ul8if</string>
	<key>API_KEY</key>
	<string>AIzaSyBxblfMMs5-RtI8ZCDZ6rcBsVO4GYPy6nY</string>
	<key>GCM_SENDER_ID</key>
	<string>323358692404</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.felixolivares.PrecioScan</string>
	<key>PROJECT_ID</key>
	<string>precioscan</string>
	<key>STORAGE_BUCKET</key>
	<string>precioscan.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:323358692404:ios:28ae92ab5a744a2d</string>
	<key>DATABASE_URL</key>
	<string>https://precioscan.firebaseio.com</string>
</dict>
</plist>